@charset "UTF-8";
:root{
    --corpadrao: #FFFAFF;
    --textosprincipais: #004777;
    --CTA: #30BCED;
}
html{
    font-size: 62.5%;
    width: 100%;
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

header{
    background-image: linear-gradient(to right, #30BCED 50%, #015c99d8);

    height: 14vh;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;

    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.281);
}

img{
    max-width: 100px;
    height: auto;
}

/*BARRA DE NAVEGAÇÃO*/

nav{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
}

nav ul li{
    font-size: 2rem;
    color: var(--corpadrao);
    font-family: sans-serif;

    list-style: none;
    overflow: hidden;
    padding: 5px;

}