body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}
html{
    font-size: 62.5%;
    width: 100%;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.categoria {
    width: 95%;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;

    font-size: 5.0rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #333;
    color: white;
    padding: 15px;

    font-size: 4.0rem;
}

td {
    padding: 20px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    
    font-size: 3.0rem;
}

tr:hover {
    background-color: #f0f0f0;
}