@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --corpadrao: #FFFAFF;
    --textosprincipais: #004777;
    --CTA: #30BCED;
}
html{
    font-size: 62.5%;
    width: 100%;
}

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/*---------------BARRA DE NAVEGAÇÃO-------------*/
header{
    background-image: linear-gradient(to right, #30BCED 50%, #015c99d8);

    height: 12vh;
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.281);

}

img{
    max-width: 100%;
    height: auto;
}

/*BARRA DE NAVEGAÇÃO

nav{
    display: none;
}

nav ul{
    display: flex;
}

nav ul li{
    font-size: 2rem;
    color: var(--corpadrao);
    font-family: sans-serif;

    list-style: none;
    padding: 5px;

}
*/

/*MENU HAMBURGUER

#menu{
    align-self: center;
    margin-right: 10px;
    font-size: 4.0rem;
    font-weight: bolder;
    color: var(--corpadrao);
}

#menu:hover{
    cursor: pointer;
}
*/

/*-------------CORPO----------------*/
main{
    background-color: var(--corpadrao);
    height: 100vh;
    width: 100%;
}

/*HERO*/

#hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 5px;

    border: 1px dotted black;
}

#hero h1{
    font-size: 3.6rem;
    padding: 10px;
    color: var(--textosprincipais);
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.438);

    border: 1px dotted black;
}

#palavra-destaque{
    color: var(--CTA);
    border-left: 9px solid var(--CTA);
    padding-left: 5px;
}

/*PRODUTOS*/

#cardapios{
    display: flex;
    flex-flow: column wrap;

    align-items: center;
    justify-content: center;

    font-family: "Montserrat", sans-serif;
}

.subtitulo{
    text-align: center;
    padding: 10px;
    font-size: 3.0rem;
    font-weight: normal;
    color: var(--textosprincipais);
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.315);
    font-family: "Montserrat", sans-serif;
}

.tabela-plano{
    border: 1px solid black;
    width: 80%;
    margin: 5px 0px 5px 0px;
    border-radius: 5px;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}

.tabela-plano h3{
    text-align: center;
    font-size: 2.0rem;
    font-weight: normal;
}

/*PRODUTOS  > links*/
.opcao{
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin: 15px 0px 15px 0px;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: .15rem;

    border:none;
    border-radius: 7px;

    width: 50%;

    background-image: radial-gradient(circle, var(--CTA) 1%, var(--corpadrao) 100%);
    color: var(--corpadrao);
}
/*VANTAGENS*/

#vantagens h3{
    text-align: center;
    font-size: 2.0rem;
    margin: 10px;
    color: var(--CTA);
    border-left: 9px solid var(--CTA);
}

#vantagens p{
    text-align: center;
    font-size: 1.7rem;
    padding: 10px;
}
/*MEDIA QUERIES*/

@media screen and (min-width:300px) and (max-width:350px) {
    #hero h1{
        font-size: 3.5rem;
    }
}